.p2{
   background: rgb(34,155,195);
background: linear-gradient(0deg, rgba(34,155,195,0.9710084717480743) 0%, rgba(218,184,20,1) 100%); 
  margin-bottom: 20px;
  border-radius: 10px;
  height: 700px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}

.p2 p{
  text-align: center;
}

.poki{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1#NewCat{
  text-align: center;
}
