.p1{
     background: rgb(193,195,34);
background: linear-gradient(0deg, rgba(193,195,34,1) 0%, rgba(253,130,45,1) 100%); 
    margin-bottom: 20px;
    border-radius: 10px;
    height: 700px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}

.p1 p{
    text-align: center;
}

.poki{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1#NewCat{
    text-align: center;
}
